body {
    margin: 0px;
    background-color: rgb(6, 80, 141);
    background-image: url('C:/Users/SomireddyNireesha/crud/src/components/img.jpg');
    image-rendering: no repeat;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 100%;
    color: #f9fcf5;
    font-family: Arial, Helvetica, sans-serif;

}
#user{
    margin-top: 80px;
}

